files/*
!files/maindata/
proyecto1/
facebook/
AJAX/
Contrato_Hacker/
crud_php_mangmen_estudio/
dashboard/
facebook2/
img/
login-main/
menu_tes_p/
proyectosMatricula/
TR1/
TRF/
WEBIII/
xampp/
sistema/
applications.html
bitnami.css
favicon.ico
DAW/