* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    background-color: var(--general-background);
}

header {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 10px var(--hmf-shadow);
    background-color: var(--hmf-background);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: 20px;
}
header > #logo {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    margin-top: 20px;
    filter: drop-shadow(0 0 10px var(--header-logoShadow));
}
header div > #platos,
header div > #ordenar,
header div > #btncarrito {
    margin: 20px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: medium;
    cursor: pointer;
    outline: none;
    background-color: var(--header-button-mainColor);
    color: var(--header-button-contrastColor);
    border: 2px solid var(--header-button-mainColor);
    filter: drop-shadow(0 0 10px var(--header-button-shadow));
    transition: all 0.3s;
    font-weight: bold;
}
header div > #platos {
    max-width: 225px;
}
header div > #ordenar {
    display: none;
}
header div > #btncarrito {
    display: none;
    border: 2px solid var(--header-button-mainColor);
    background-color: var(--header-button-contrastColor);
    color: var(--header-button-mainColor);
}

/* FIN Nuevo estilo para platos */
main {
    border-top: 4px solid var(--main-title-background);
    background-color: var(--hmf-background);
    min-height: 250px;
    box-shadow: 0 0 10px var(--hmf-shadow);
    padding: 0px 20px 20px;
    margin: 20px;
    border-radius: 5px;
}

#title {
    background-color: var(--main-title-background);
    color: var(--main-title-color);
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
    width: max-content;
    max-width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

#dishes * {
    font-family: 'Courier New', Courier, monospace;
}

#dishes {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: max-content;
}

#dishes > .dishContainer {
    position: relative;
    margin: 10px;
    max-width: 100%;
    width: 240px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 5px grey;
    /*background: linear-gradient(to bottom,
            rgba(20, 20, 20, 0.40) 40%,
            rgb(20, 20, 20)), url('/files/maindata/prueba.jpg');
    background-size: cover;
    background-position: center center;*/
}

#dishes > .dishContainer>button[data-id="quantity"],
#dishes > .dishContainer>button[data-id="remove"] {
    display: none;
    cursor: pointer;
}

#dishes > .dishContainer>button[data-id="quantity"].selected,
#dishes > .dishContainer>button[data-id="remove"].selected {
    display: unset;
    position: absolute;
    top: -4px;
    padding: 1px 5px;
    font-size: medium;
    font-weight: bold;
    border: 2px solid rgb(20, 20, 20);
    color: #fff;
}

#dishes > .dishContainer>button[data-id="quantity"].selected {
    right: 27px;
    border-radius: 5px 1px 5px 10px;
    background-color: #6698ff;
}

#dishes > .dishContainer>button[data-id="remove"].selected {
    right: 2px;
    border-radius: 1px 5px 10px 5px;
    background-color: #ff3b3b;
}

#dishes > .dishContainer>table {
    width: 100%;
    height: 240px;
    max-height: 120px;
    border-spacing: 0;
    cursor: pointer;
}

#dishes > .dishContainer>table>tbody>tr>td {
    padding: 5px;
    vertical-align: bottom;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(20, 20, 20);
}

#dishes > .dishContainer>table>tbody>tr>td:nth-child(1) {
    width: 100%;
}

#dishes > .dishContainer>table>tbody>tr>td:nth-child(2) button {
    font-size: medium;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    width: max-content;
}

#dishes > .dishContainer>table>tbody>tr>td:nth-child(2) button::before {
    content: 'S/ ';
}

/* Shower styles */
section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
#shower * {
    font-family: 'Courier New', Courier, monospace;
}
#shower {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 360px;
    height: max-content;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 5px grey;
    color: #fff;
    border: 2px solid rgb(20, 20, 20);
}

#namePriceContainer,
#orderContainer {
    border-spacing: 0;
}

/* Name and Price's Style */
#namePriceContainer {
    height: 210px;
}
#namePriceContainer tbody tr:nth-child(1) {
    text-shadow: 0 0 10px black;
    /*background: linear-gradient(to bottom,
            rgba(20, 20, 20, 0.125) 40%,
            rgba(20, 20, 20, 0.625)), url('/files/maindata/prueba.jpg');
    background-size: cover;
    background-position: center center;*/
}

#namePriceContainer tbody tr:nth-child(1) td {
    vertical-align: bottom;
    padding: 10px;
}

#namePriceContainer tbody tr:nth-child(1) td:nth-child(1) {
    width: 100%;
    border-radius: 3px 0 0 0;
    font-weight: bold;
}

#namePriceContainer tbody tr:nth-child(1) td:nth-child(2) {
    border-radius: 0 3px 0 0;
}

#namePriceContainer tbody tr:nth-child(1) td:nth-child(2) p {
    width: max-content;
    font-weight: bold;
}

#namePriceContainer tbody tr:nth-child(1) td:nth-child(2) p::before {
    content: 'S/ ';
}

/* Order Form container's style */
#orderContainer tr td {
    padding: 10px;
    text-align: center;
}

#orderContainer tr:nth-child(1) td {
    width: 100%;
}

#min,
#max,
#max5 {
    padding: 4px 8px;
    background-color: #fff;
    color: rgb(20, 20, 20);
    border: 2px solid #fff;
    border-radius: 15px;
    font-size: medium;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#quantity {
    padding: 4px 8px;
    border: 2px solid #fff;
    background-color: rgb(40, 40, 40);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    outline: none;
    width: 50px;
}

#quantity::-webkit-inner-spin-button,
#quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#totalPrice {
    margin: auto;
    padding: 4px 8px;
    width: max-content;
    background-color: #6698ff;
    font-weight: bold;
    border: 2px solid #6698ff;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}

#totalPrice::before {
    content: 'S/ ';
}
#totalPrice.dolar::before {
    content: '$ '
}

#accept,
#cancel {
    padding: 4px 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

#accept {
    border-color: #089000;
    background-color: #089000;
}

#cancel {
    border-color: #ff3b3b;
    background-color: #ff3b3b;
}

#accept:hover,
#cancel:hover {
    filter: opacity(0.85);
}

#orderContainer table tbody tr:nth-child(2) td:nth-child(1) {
    text-align: left;
}

#specification {
    display: block;
    width: 100%;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    padding: 5px;
    color: #fff;
    outline: none;
    resize: none;
    overflow-x: hidden;
}














footer {
    max-width: 1080px;
    text-align: center;
    background-color: var(--hmf-background);
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px var(--hmf-shadow);
    border-radius: 5px;
}
footer > ul li {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    color: var(--main-table-tbody-color);
    border-radius: 5px;
    border-left: 2px solid var(--main-title-background);
    border-right: 2px solid var(--main-title-background);
}
footer > ul li a {
    color: var(--main-table-tbody-color);
    margin-left: 5px;
}
.delCarrito,
.maxCarrito,
.cantCarrito,
.minCarrito {
    font-size: small;
    width: 30px;
    height: 25px;
    font-size: 15px;
    padding: 5px 0;
    cursor: pointer;
    user-select: none;
}
.delCarrito {
    font-size: small;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: var(--main-table-tbody-orderButton-background);
    color: var(--main-table-tbody-orderButton-color);
}
.maxCarrito {
    border-radius: 5px 5px 0 0;
    background-color: var(--main-table-tbody-orderButton-background);
    color: var(--main-table-tbody-orderButton-color);
}
.cantCarrito {
    background-color: var(--main-table-tbody-orderInput-background);
    color: var(--main-table-tbody-orderInput-color);
    border: 1px solid var(--main-table-tbody-orderInput-border);
    cursor: default;
}
.minCarrito {
    border-radius: 0 0 5px 5px;
    background-color: var(--main-table-tbody-orderButton-background);
    color: var(--main-table-tbody-orderButton-color);
}

@media screen and (max-width: 720px) {
    main > #divcarrito table tbody tr td:first-child,
    main > #divcarrito table thead tr th:first-child {
        display: block;
    }
    header {
        margin: 0;
        border-radius: 0;
        box-shadow: unset;
    }
    main {
        padding: 0 5px 5px;
        margin: 0;
        border-radius: 0;
    }
    footer {
        margin: 0;
        margin-bottom: 0;
        border-radius: 0;
        box-shadow: unset;
        background-color: transparent;
    }
}